body {
background-image: url("../image/background.jpg");
background-size: cover;
background-repeat:no-repeat;
background-attachment: scroll;
overflow-x: hidden;
}
a:link {
color:black;
}
a:visited {
color:black;
}

a:hover {
color:skyblue;
} 
nav {
 padding-top: 5px;
 box-sizing: border-box;
 position: fixed;
 top: 0;
 left: 0;
font-family: "Arial";
background-color:steelblue;
border-bottom-right-radius:20px;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  margin-right: 35px;
}
.title {
text-align: center;
line-height:100px;
color:skyblue;
font-family:"Arial";
}
table {
position: relative ; bottom:0px ; left:710px;
font-family: "Arial";
border-color:black;
border-collapse:collapse;

}
th {
background:khaki;
}
span {
color:deeppink;
}
p {
font-family:"Arial";
}